*{
  margin:0;
  padding: 0;
  box-sizing: border-box;
  font-size: 20px;
}
html{
  font-family: 'Open Sans', sans-serif;
}
.debug .container [class*="col-"]{
  border: 1px solid black;
}

.top-header [class*="col-"]:not(:last-child){
  height: 80px;
}
.top-header{
  position: relative;
}
.top-header img{
  width: 90px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
.top-header [class*="col-"] li{
  display: inline-block;
  margin-left: 20px;
}
[class*="col-"]  a{
  font-size: 0.6rem;
  text-decoration: none;
  color: black;

}
.top-header [class*="col-"] ul{
  text-align: right;
  line-height: 80px;
}
.nav-right li:not(:first-child) a{
  border-left: 1px solid grey;
  padding-left: 15px;
}
.bottom-header{
  background-image: url("../img/hero-bg.jpg");
  height: 500px;
  position:relative;

}
.bottom-header img{
  width: 8%;
  position:relative;

}
.bottom-header > .vert-oriz-center{
  position:absolute;
  top:50%;
  left:50%;
  transform: translate(-50%,-50%);
  text-align: center;
  color: white;

}
.bottom-header h1{
  font-size:35px;
  margin-bottom: 20px;
}
.bottom-header p{
  font-size:12px;
  margin-bottom: 15px;

}
.h-1000{
  background-color: black;
}
@media screen and (max-width:991px) and (min-width:769px) {
  .top-header [class*="col-"]:last-child{
    text-align: right;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
  }
}
@media screen and  (max-width:769px) {
  .top-header [class*="col-"]:last-child{
    text-align: right;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);

  }



}
