*{
  margin:0;
  padding: 0;
  box-sizing: border-box;
  font-size: 20px;
}
html{
  font-family: 'Open Sans', sans-serif;
}

.debug .container [class*="col-"]{
  border: 1px solid black;
}

.top-header [class*="col-"]:not(:last-child){
  height: 80px;
}
.top-header{
  position: relative;
}
.top-header img{
  width: 90px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
.top-header [class*="col-"] li{
  display: inline-block;
  margin-left: 20px;
}
[class*="col-"] li  a{
  font-size: 0.6rem;
  text-decoration: none;
  color: black;
}

.top-header [class*="col-"] ul{
  text-align: right;
  line-height: 80px;
}
.nav-right li:not(:first-child) a{
  border-left: 1px solid grey;
  padding-left: 15px;
}
.bottom-header{
  background-image: url("../img/hero-bg.jpg");
  height: 500px;
  position:relative;

}
.bottom-header img{
  width: 10%;
  position:relative;

}
.bottom-header > .vert-oriz-center{
  position:absolute;
  top:50%;
  left:50%;
  transform: translate(-50%,-50%);
  text-align: center;
  color: white;

}
.bottom-header h1{
  font-size:2.0rem;
  margin-bottom: 20px;
}
.bottom-header p{
  font-size:0.6rem;
  margin-bottom: 15px;

}
.h-1000{
  background-color: black;
}
.main-product{
  height:600px;

}
.main-product [class*="col-"]{
  height: 90%;

}
.back-product{
  background-color: #fafafa;
  margin-top: 30px;
  margin-bottom: 30px;
  position: relative;
}
.back-product img:first-child{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
  margin-top: 20px;
}
.back-product img:last-child{
  width: 70%;
  margin:20px auto;
  display: block;
  position: relative;
  top: 10%;
}
.vert-oriz-center{
  position: relative;

}
.vert-oriz-center  p{
  text-align: center;
  text-decoration: none;
  font-size: 0.8rem;

  margin:20px auto;

}
.vert-oriz-center a{
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  text-decoration: none;
  margin:0 auto;
  font-size: 0.8rem;
}
#section-2{
  background-image: url('../img/gpscooter.jpg');
  height: 400px;
  background-repeat: no-repeat;
  background-size: cover;

}
#section-2 img{
  height: 100%;
  position: relative;
  left: 50%;
  top: 50%;
  transform: translate(-50%);
}
#section-2 [class*="col-"]{
  height: 100%;
}
#section-2 h2{
  float: right;
  position: relative;
  top: 120%;
}
#section-2::after{
  content: "";
  display: table;
  clear: both;
}

#section-2 h3{

  position: relative;
  top: 120%;
}
#section-2 p{

  position: relative;
  top: 120%;
}


@media screen and (max-width:992px) and (min-width:769px) {
  .container{
    width: 100vw;

  }
  .top-header [class*="col-"]:last-child{
    text-align: right;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
  }
  .bottom-header h1 {
    font-size: 1.5rem;
  }
  .bottom-header img{
    width: 100px;
  }

}
@media screen and  (max-width:768px) {
  .top-header [class*="col-"]:last-child{
    text-align: right;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);

  }
  .container{
    width: 100vw;
  }
  .bottom-header h1 {
    font-size: 1.5rem;
  }
  .bottom-header img{
    width: 80px;
  }

}
